src/main/mule/mulesoftapi001.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
  <http:listener-config name="Listener-config" rejectInvalidTransferEncoding="true">
    <http:listener-connection port="8081" host="0.0.0.0"></http:listener-connection>
  </http:listener-config>
  <flow name="hellocopado">
    <http:listener config-ref="Listener-config" doc:id="nbxmer" doc:name="Listener" path="/hellocopado">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <set-payload value='Hello Copado!' doc:name="Set payload" doc:id="qhpkzp" />
    <logger doc:name="Logger" doc:id="tpades" message="#[attributes.requestPath]"/>
  </flow>
</mule>
